<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.net>
		<mailSettings>
			<smtp from="dadiaz@heinsohn.com.co">
				<network host="smtp.office365.com" port="587" userName="dadiaz@heinsohn.com.co" password="Milenios50$%" defaultCredentials="false" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
	<appSettings>
		<add key="PrimerNombreRetenedor" value="" /> <!-- item-9-->
		<add key="SegundoNombreRetenedor" value="" /> <!-- item-10-->
		<add key="PrimerApellidoRetenedor" value="" /> <!-- item-7-->
		<add key="SegundoApellidoRetenedor" value="" /> <!-- item-8-->
		<add key="NitRetenedor" value="900477169" />  <!-- item-5-->
		<add key="DigitoVerificacionRetenedor" value="8" /> 	<!-- item-6-->
		<add key="RazonSocialRetenedor" value="AGENCIA PARA LA REINCORPORACIÓN Y LA NORMALIZACIÓN" /> 	<!-- item-11-->
		<add key="AnioGravable" value="2025" />		<!-- El Año del titulo del formato -->
		<add key="PeriodoCertificacionDesde" value="01/01/2025" /> <!-- item-30 formato fecha YYYY/MM/DD-->
		<add key="PeriodoCertificacionHasta" value="30/12/2025" /> <!-- item-31 formato fecha YYYY/MM/DD-->
		<add key="FechadeExpedicion" value="31/03/2026" /> <!-- item-32 formato fecha -->
		<add key="CodigoDepartamento" value="11" /> <!-- item-34-->
		<add key="CodigoCiudad_Municipio" value="001" /> <!-- item-35-->
		<add key="NombrePagador_Retenedor" value="DEYANIRA OLIVERA VILLANUEVA" /> <!-- nombre pagador o retenedor-->
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>